Manipulación de Series y DataFrames

In [1]:
# Antes de inicar
import pandas as pd

In [2]:
import numpy as np

In [3]:
#Importamos primero los archivos
archivo_temperaturas = r'C:\Users\Administrator\Documents\CF\CIENCIA DE DATOS IA\Data Analytics\M4\Python\Lecture 5\temperaturas_globales.csv'
df_temperaturas = pd.read_csv(archivo_temperaturas)

archivo_precipitaciones = 'C:\\Users\\Administrator\\Documents\\CF\\CIENCIA DE DATOS IA\\Data Analytics\\M4\\Python\\Lecture 5\\precipitaciones_globales.csv'
df_precipitaciones = pd.read_csv(archivo_precipitaciones)

Selecciones

Selección de columnas específicas
Para seleccionar una columna específica de un DataFrame, utilizamos df['column_name']. 

columna_a = df['A']

Si queremos seleccionar múltiples columnas, pasamos una lista de nombres de columnas a df[[...]].

subconjunto = df[['A', 'B']]

Supongamos que queremos seleccionar la columna “Londres” del DF df_temperaturas:

In [4]:
# Seleccionar columna 

print(df_temperaturas['Londres'])

0     24
1     10
2      2
3     31
4      1
5     25
6     22
7     15
8     19
9     11
10    -1
11     7
12    34
13    28
14    19
15    -2
16    34
17     9
18     6
19    14
20     3
21     2
22    33
23    19
Name: Londres, dtype: int64

Selección de filas específicas
Puedes seleccionar filas utilizando .loc para etiquetas de índice o .iloc para posiciones de índice basadas en enteros:

Utilizamos .loc[] para seleccionar filas por etiquetas o una condición booleana.

Utilizamos .iloc[] para seleccionar filas por posiciones enteras.

# Seleccionar fila por etiqueta de índice

fila = df.loc['index_label']


# Seleccionar fila por posición de índice

fila = df.iloc[0]

Filtrado
El filtrado de datos basado en condiciones es otra operación potente, permitiendo seleccionar elementos que cumplen ciertos criterios:

Veamos un ejemplo sencillo:

# Filtrar filas donde la columna A es mayor que 10
df_filtrado = df[df['A'] > 10]

Ahora veamos un ejemplo con el caso de esta clase:

Temperaturas mayores a 25 grados en Madrid
Queremos filtrar y ver todos los meses en los que la temperatura en Madrid fue superior a 25 grados Celsius. Para esto, utilizaremos una operación de filtrado básico en Pandas.

In [5]:
# Filtramos para obtener solo las filas donde la temperatura en Madrid fue mayor a 25 grados

meses_calurosos_madrid = df_temperaturas[df_temperaturas['Madrid'] > 25]

# Mostramos el resultado

print("Meses con temperaturas mayores a 25 grados en Madrid:")

print(meses_calurosos_madrid[['Fecha', 'Madrid']])

Meses con temperaturas mayores a 25 grados en Madrid:
         Fecha  Madrid
3   2022-04-30      33
4   2022-05-31      26
12  2023-01-31      30

En este ejemplo, df_temperaturas['Madrid'] > 25 crea una máscara booleana que es True para todas las filas donde la condición se cumple, es decir, donde la temperatura en Madrid es mayor a 25 grados. 

Luego, al usar esta máscara para indexar df_temperaturas, obtenemos un nuevo DataFrame que solo contiene las filas (meses) que cumplen con la condición. 

Finalmente, seleccionamos solo las columnas Fecha y Madrid para simplificar la visualización de los resultados.

Ejercicios adicionales por mi cuenta para modificar impresion

In [6]:
#Renombramos en la impresion Madrid, por Temperatura.
print("Meses con temperaturas mayores a 25 grados en Madrid:")
print(meses_calurosos_madrid[['Fecha', 'Madrid']].rename(columns={'Madrid': 'Temperatura °C'}))
# Para el simbolo de grados utilizamos Alt + 0176

Meses con temperaturas mayores a 25 grados en Madrid:
         Fecha  Temperatura °C
3   2022-04-30              33
4   2022-05-31              26
12  2023-01-31              30

In [7]:
# Modificamos impresion agregando informacion
print("Meses con temperaturas mayores a 25 grados en Madrid:")
print(meses_calurosos_madrid[['Fecha', 'Madrid']].rename(columns={'Madrid': 'Temperatura'}).astype(str) + '°C')

Meses con temperaturas mayores a 25 grados en Madrid:
           Fecha Temperatura
3   2022-04-30°C        33°C
4   2022-05-31°C        26°C
12  2023-01-31°C        30°C

In [8]:
# De esta manera solo aplica en la ultima. Para el ejercicio no sirve.
print("Meses con temperaturas mayores a 25 grados en Madrid:")
print(meses_calurosos_madrid[['Fecha', 'Madrid']].rename(columns={'Madrid': 'Temperatura'}), '°C')

Meses con temperaturas mayores a 25 grados en Madrid:
         Fecha  Temperatura
3   2022-04-30           33
4   2022-05-31           26
12  2023-01-31           30 °C

Continuamos con la clase

Operaciones aritméticas y estadísticas

Operaciones aritméticas
# Sumar 10 a cada elemento de la Serie

serie + 10

# Multiplicar cada elemento por 2

serie * 2

Operaciones estadísticas
Calcular medias, medianas, máximos, mínimos, etc.

Por ejemplo, para obtener una idea general de las temperaturas en Berlín, podemos calcular estadísticas básicas como la media, mediana y desviación estándar para la Serie correspondiente a Berlín.

In [9]:
# Operaciones estadísticas
berlin_temps = df_temperaturas['Berlín']

print("Media de Temperatura en Berlín:", berlin_temps.mean())
print("Mediana de Temperatura en Berlín:", berlin_temps.median())
print("Desviación Estándar de la Temperatura en Berlín:", berlin_temps.std())

Media de Temperatura en Berlín: 13.583333333333334
Mediana de Temperatura en Berlín: 12.5
Desviación Estándar de la Temperatura en Berlín: 10.375207349071722

In [10]:
# Castiada para que me de dos decimales y con el signo de °C (por mi cuenta)
print("Media de Temperatura en Berlín:", np.around(berlin_temps.mean(),decimals=2).astype(str) + '°C')
print("Mediana de Temperatura en Berlín:", np.around(berlin_temps.median(),decimals=2).astype(str) + '°C')
print("Desviación Estándar de la Temperatura en Berlín:", np.around(berlin_temps.std(), decimals=2), '°C')
#Para mayor ilustracion sobre castiar, ver DA-HW4 - Consignas.ipynb Homework lecture 4

Media de Temperatura en Berlín: 13.58°C
Mediana de Temperatura en Berlín: 12.5°C
Desviación Estándar de la Temperatura en Berlín: 10.38 °C

Para mayor ilustracion sobre castiar, ver DA-HW4 - Consignas.ipynb Homework lecture 4

Métodos útiles

Cambio de tipo de datos
Cambio de tipo de datos con .astype(): cambiar el tipo de datos de una Serie o columnas de un DataFrame.

Si por alguna razón las temperaturas se importaron como strings (texto), necesitaríamos convertirlas a flotantes para realizar cálculos. Supongamos que este es el caso para las temperaturas en París.

In [11]:
# Asumiendo que las temperaturas de París vinieron como strings, podríamos convertirlas a flotantes
paris_temps = df_temperaturas['París'].astype(float)

In [12]:
print(paris_temps.head())

0     6.0
1    29.0
2     3.0
3    -4.0
4     0.0
Name: París, dtype: float64

Conteo de valores únicos con .value_counts()
.value_counts(): cuenta la ocurrencia de cada valor único. Es muy útil para análisis de frecuencias.

Para demostrar el uso de .value_counts() con los datos importados, necesitaremos crear una Serie a partir de estos datos que sea adecuada para este método. 

value_counts() es especialmente útil para columnas con datos categóricos o discretos, ya que cuenta la ocurrencia de cada valor único en la Serie.

Dado que los datos de temperatura y precipitación son numéricos y continuos, para resolver este inconveniente, vamos a seguir el proceso completo: leer el archivo temperaturas_globales2.csv, realizar la categorización de las temperaturas para Madrid, y luego guardar esta información categorizada en un nuevo archivo CSV.

In [13]:
# Uso de describe()

# Obtener estadísticas descriptivas de las temperaturas en Madrid

descripcion_madrid = df_temperaturas['Madrid'].describe()


# Imprimir el resultado

print(descripcion_madrid)

count    24.000000
mean     14.708333
std      11.437844
min      -5.000000
25%       5.000000
50%      19.500000
75%      23.000000
max      33.000000
Name: Madrid, dtype: float64

Haciendolo de una manera distinta, ya que los datos no coinciden

In [14]:
archivo_temperaturas2 = r'C:\Users\Administrator\Documents\CF\CIENCIA DE DATOS IA\Data Analytics\M4\Python\Lecture 5\temperaturas_globales.csv'
df_temperaturas2 = pd.read_csv(archivo_temperaturas2)

In [15]:
# Uso de describe()

# Obtener estadísticas descriptivas de las temperaturas en Madrid

descripcion_madrid2 = df_temperaturas2['Madrid'].describe()


# Imprimir el resultado

print(descripcion_madrid2)

count    24.000000
mean     14.708333
std      11.437844
min      -5.000000
25%       5.000000
50%      19.500000
75%      23.000000
max      33.000000
Name: Madrid, dtype: float64

In [16]:
# Categorización de las temperaturas para Madrid
# Categorizar las temperaturas de Madrid


bins = [-5, 0, 10, 20, 30, 40]

labels = ['Muy bajo', 'Bajo', 'Moderado', 'Alto', 'Muy Alto']

df_temperaturas2['Categoría_Madrid2'] = pd.cut(df_temperaturas2['Madrid'], bins=bins, labels=labels, right=False)


print(df_temperaturas2)

         Fecha  Nueva York  París  Berlín  Londres  Madrid Categoría_Madrid2
0   2022-01-31           2      6      22       24      23              Alto
1   2022-02-28          26     29      18       10      21              Alto
2   2022-03-31          20      3      14        2      -4          Muy bajo
3   2022-04-30          32     -4      26       31      33          Muy Alto
4   2022-05-31          18      0      33        1      26              Alto
5   2022-06-30          11     14       8       25      -3          Muy bajo
6   2022-07-31           8      5       0       22      22              Alto
7   2022-08-31           3     22       7       15      22              Alto
8   2022-09-30           3     10      17       19      19          Moderado
9   2022-10-31          28     31       9       11      -5          Muy bajo
10  2022-11-30          20     30      31       -1      23              Alto
11  2022-12-31           7     26       2        7      22              Alto
12  2023-01-31          25     -2      11       34      30          Muy Alto
13  2023-02-28          -5     -3       9       28      20              Alto
14  2023-03-31          10     20      19       19      11          Moderado
15  2023-04-30          19      7      -3       -2       5              Bajo
16  2023-05-31          19     29      13       34       3              Bajo
17  2023-06-30           8     31      17        9      -2          Muy bajo
18  2023-07-31           6     29      12        6       5              Bajo
19  2023-08-31          24      2      18       14       6              Bajo
20  2023-09-30          28     32      34        3      16          Moderado
21  2023-10-31          21     33       5        2      12          Moderado
22  2023-11-30          33     19       2       33      23              Alto
23  2023-12-31          32      6       2       19      25              Alto

In [17]:
# Contar las ocurrencias de cada categoría
conteo_categorias = df_temperaturas2['Categoría_Madrid2'].value_counts()

# Imprimir el resultado
print(conteo_categorias)

Categoría_Madrid2
Alto        10
Muy bajo     4
Bajo         4
Moderado     4
Muy Alto     2
Name: count, dtype: int64

In [18]:
# Ruta para el nuevo archivo CSV
path_nuevo_csv = 'temperaturas_madrid_categorizadas.csv'

# Guardar el DataFrame con las categorías en un nuevo archivo CSV
df_temperaturas2.to_csv(path_nuevo_csv, index=False)

# Confirmar que se ha guardado correctamente
print(f"Archivo guardado en {path_nuevo_csv}")

Archivo guardado en temperaturas_madrid_categorizadas.csv

Información del DataFrame con df.info()
El método df.info() es invaluable para obtener un rápido resumen del DataFrame, incluyendo el número de entradas no nulas en cada columna y el tipo de dato de cada columna. Esto es especialmente útil para identificar columnas con datos faltantes y para entender la estructura general de los datos con los que estás trabajando.

Supongamos que queremos obtener la información general del DataFrame df_temperaturas que contiene datos de temperatura para varias ciudades:

In [19]:
# Obtener información del DataFrame
info_general = df_temperaturas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       24 non-null     object
 1   Nueva York  24 non-null     int64
 2   París       24 non-null     int64
 3   Berlín      24 non-null     int64
 4   Londres     24 non-null     int64
 5   Madrid      24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [20]:
# Obtener información del DataFrame
info_general = df_temperaturas2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha              24 non-null     object
 1   Nueva York         24 non-null     int64
 2   París              24 non-null     int64
 3   Berlín             24 non-null     int64
 4   Londres            24 non-null     int64
 5   Madrid             24 non-null     int64
 6   Categoría_Madrid2  24 non-null     category
dtypes: category(1), int64(5), object(1)
memory usage: 1.5+ KB

Primeras N Filas con df.head(n)
Para obtener una vista rápida de los datos, df.head(n) muestra las primeras n filas del DataFrame. Es una forma excelente de tener una primera impresión de los datos, sus valores y cómo están organizados.

In [21]:
# Mostrar las primeras 5 filas del DataFrame
primeras_cinco = df_temperaturas.head(5)
print(primeras_cinco)

        Fecha  Nueva York  París  Berlín  Londres  Madrid
0  2022-01-31           2      6      22       24      23
1  2022-02-28          26     29      18       10      21
2  2022-03-31          20      3      14        2      -4
3  2022-04-30          32     -4      26       31      33
4  2022-05-31          18      0      33        1      26

 Manejo de datos faltantes
 En el análisis de datos, es común encontrar valores faltantes o NaN. Pandas proporciona varias funciones para manejar datos faltantes, como .dropna() para eliminar filas o columnas con datos faltantes y .fillna() para reemplazar los valores faltantes con un valor específico.

In [22]:
# Eliminar filas con datos faltantes
# df_limpio = df.dropna()

# Rellenar datos faltantes con cero
# df_rellenado = df.fillna(0)

Eliminar datos

Eliminar con .dropna(): elimina filas o columnas con datos faltantes (valores NaN).

Supongamos que, por algún motivo, algunos registros de temperaturas en el archivo temperaturas_globales.csv están incompletos y queremos eliminar cualquier mes que no tenga datos completos para todas las ciudades mencionadas.

In [23]:
# Usando df.dropna() para eliminar filas con datos faltantes
# Esto eliminará cualquier fila que tenga al menos un valor NaN en cualquier columna

df_limpio = df_temperaturas.dropna()

# Si quieres eliminar columnas en lugar de filas, usa axis=1
# df_limpio = df_temperaturas.dropna(axis=1)
# Mostrando el DataFrame después de eliminar filas con datos faltantes

print(df_limpio)

         Fecha  Nueva York  París  Berlín  Londres  Madrid
0   2022-01-31           2      6      22       24      23
1   2022-02-28          26     29      18       10      21
2   2022-03-31          20      3      14        2      -4
3   2022-04-30          32     -4      26       31      33
4   2022-05-31          18      0      33        1      26
5   2022-06-30          11     14       8       25      -3
6   2022-07-31           8      5       0       22      22
7   2022-08-31           3     22       7       15      22
8   2022-09-30           3     10      17       19      19
9   2022-10-31          28     31       9       11      -5
10  2022-11-30          20     30      31       -1      23
11  2022-12-31           7     26       2        7      22
12  2023-01-31          25     -2      11       34      30
13  2023-02-28          -5     -3       9       28      20
14  2023-03-31          10     20      19       19      11
15  2023-04-30          19      7      -3       -2       5
16  2023-05-31          19     29      13       34       3
17  2023-06-30           8     31      17        9      -2
18  2023-07-31           6     29      12        6       5
19  2023-08-31          24      2      18       14       6
20  2023-09-30          28     32      34        3      16
21  2023-10-31          21     33       5        2      12
22  2023-11-30          33     19       2       33      23
23  2023-12-31          32      6       2       19      25

Rellenar datos faltantes
Rellenar con .fillna(): rellena los valores faltantes con un valor específico.

En el caso de que haya meses faltantes o datos nulos en nuestras series de temperaturas, podríamos querer rellenar estos valores con la media de la columna para mantener la consistencia del análisis.

serie.fillna(valor): rellena los elementos NaN con un valor especificado.

In [24]:
# Rellenar valores NaN con la media de las temperaturas de Nueva York

ny_temps_filled = df_temperaturas['Nueva York'].fillna(df_temperaturas['Nueva York'].mean())

print(ny_temps_filled)

0      2
1     26
2     20
3     32
4     18
5     11
6      8
7      3
8      3
9     28
10    20
11     7
12    25
13    -5
14    10
15    19
16    19
17     8
18     6
19    24
20    28
21    21
22    33
23    32
Name: Nueva York, dtype: int64

Creación y modificación de columnas

Puedes crear o modificar columnas simplemente asignando valores a ellas:

# Crear una nueva columna C como suma de A y B
df['C'] = df['A'] + df['B']

# Modificar columna A, incrementando todos sus valores en 1
df['A'] = df['A'] + 1

Uso de funciones Lambda y apply()

.apply(func): aplica una función a cada elemento de una Serie, lo que permite una gran flexibilidad en la manipulación de datos.

Veamos un ejemplo de como crear una columna con apply
En este caso, usaremos el archivo temperaturas_globales.csv y supondremos que queremos añadir una nueva columna que indique si la temperatura en Madrid es considerada "Calurosa" o "Fresca" basada en un umbral específico, digamos 25 grados Celsius.

Basándonos en las temperaturas de Madrid, clasificaremos cada registro como "Caluroso" si la temperatura supera los 25 grados, o "Fresco" en caso contrario.

In [25]:
# Crear una nueva columna
# Usamos una expresión lambda junto con apply para evaluar cada temperatura de Madrid

df_temperaturas['Clasificación_Madrid'] = df_temperaturas['Madrid'].apply(lambda x: 'Caluroso' if x > 25 else 'Fresco')
# Mostramos las primeras filas para verificar la nueva columna

print(df_temperaturas[['Fecha', 'Madrid', 'Clasificación_Madrid']].head())
print(df_temperaturas.head())

        Fecha  Madrid Clasificación_Madrid
0  2022-01-31      23               Fresco
1  2022-02-28      21               Fresco
2  2022-03-31      -4               Fresco
3  2022-04-30      33             Caluroso
4  2022-05-31      26             Caluroso
        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23               Fresco
1  2022-02-28          26     29      18       10      21               Fresco
2  2022-03-31          20      3      14        2      -4               Fresco
3  2022-04-30          32     -4      26       31      33             Caluroso
4  2022-05-31          18      0      33        1      26             Caluroso

In [26]:
#Un ejemplo con 3 opciones
df_temperaturas3=df_temperaturas.copy()
df_temperaturas4=df_temperaturas.copy()
df_temperaturas3['Clasificación_Madrid'] = df_temperaturas3['Madrid'].apply(lambda x: 'Caluroso' if x > 25 else 'otro' if x > 10 else 'Fresco')
print(df_temperaturas3.head(10))

        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23                 otro
1  2022-02-28          26     29      18       10      21                 otro
2  2022-03-31          20      3      14        2      -4               Fresco
3  2022-04-30          32     -4      26       31      33             Caluroso
4  2022-05-31          18      0      33        1      26             Caluroso
5  2022-06-30          11     14       8       25      -3               Fresco
6  2022-07-31           8      5       0       22      22                 otro
7  2022-08-31           3     22       7       15      22                 otro
8  2022-09-30           3     10      17       19      19                 otro
9  2022-10-31          28     31       9       11      -5               Fresco

In [27]:
# Con 4
df_temperaturas4['Clasificación_Madrid'] = df_temperaturas4['Madrid'].apply(lambda x: 'Myu caliente' if x > 30 else 'Caluroso' if x > 20 else 'Fresco' if x > 10 else 'Frio')
print(df_temperaturas4.head())

        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23             Caluroso
1  2022-02-28          26     29      18       10      21             Caluroso
2  2022-03-31          20      3      14        2      -4                 Frio
3  2022-04-30          32     -4      26       31      33         Myu caliente
4  2022-05-31          18      0      33        1      26             Caluroso

In [28]:
print(df_temperaturas)

         Fecha  Nueva York  París  Berlín  Londres  Madrid  \
0   2022-01-31           2      6      22       24      23
1   2022-02-28          26     29      18       10      21
2   2022-03-31          20      3      14        2      -4
3   2022-04-30          32     -4      26       31      33
4   2022-05-31          18      0      33        1      26
5   2022-06-30          11     14       8       25      -3
6   2022-07-31           8      5       0       22      22
7   2022-08-31           3     22       7       15      22
8   2022-09-30           3     10      17       19      19
9   2022-10-31          28     31       9       11      -5
10  2022-11-30          20     30      31       -1      23
11  2022-12-31           7     26       2        7      22
12  2023-01-31          25     -2      11       34      30
13  2023-02-28          -5     -3       9       28      20
14  2023-03-31          10     20      19       19      11
15  2023-04-30          19      7      -3       -2       5
16  2023-05-31          19     29      13       34       3
17  2023-06-30           8     31      17        9      -2
18  2023-07-31           6     29      12        6       5
19  2023-08-31          24      2      18       14       6
20  2023-09-30          28     32      34        3      16
21  2023-10-31          21     33       5        2      12
22  2023-11-30          33     19       2       33      23
23  2023-12-31          32      6       2       19      25

   Clasificación_Madrid
0                Fresco
1                Fresco
2                Fresco
3              Caluroso
4              Caluroso
5                Fresco
6                Fresco
7                Fresco
8                Fresco
9                Fresco
10               Fresco
11               Fresco
12             Caluroso
13               Fresco
14               Fresco
15               Fresco
16               Fresco
17               Fresco
18               Fresco
19               Fresco
20               Fresco
21               Fresco
22               Fresco
23               Fresco

In [29]:
print(df_temperaturas.head())
print(df_temperaturas3.head())
print(df_temperaturas4.head())

        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23               Fresco
1  2022-02-28          26     29      18       10      21               Fresco
2  2022-03-31          20      3      14        2      -4               Fresco
3  2022-04-30          32     -4      26       31      33             Caluroso
4  2022-05-31          18      0      33        1      26             Caluroso
        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23                 otro
1  2022-02-28          26     29      18       10      21                 otro
2  2022-03-31          20      3      14        2      -4               Fresco
3  2022-04-30          32     -4      26       31      33             Caluroso
4  2022-05-31          18      0      33        1      26             Caluroso
        Fecha  Nueva York  París  Berlín  Londres  Madrid Clasificación_Madrid
0  2022-01-31           2      6      22       24      23             Caluroso
1  2022-02-28          26     29      18       10      21             Caluroso
2  2022-03-31          20      3      14        2      -4                 Frio
3  2022-04-30          32     -4      26       31      33         Myu caliente
4  2022-05-31          18      0      33        1      26             Caluroso

Ahora, supongamos que queremos ajustar las temperaturas de Londres sumándoles 1 grado Celsius a todas ellas, posiblemente para ajustar a un estándar de medición diferente.

In [30]:
# Uso de apply()
londres_temps_ajustadas = df_temperaturas['Londres'].apply(lambda x: x + 1)

print(londres_temps_ajustadas)

0     25
1     11
2      3
3     32
4      2
5     26
6     23
7     16
8     20
9     12
10     0
11     8
12    35
13    29
14    20
15    -1
16    35
17    10
18     7
19    15
20     4
21     3
22    34
23    20
Name: Londres, dtype: int64

In [31]:
print(df_temperaturas['Londres'])

0     24
1     10
2      2
3     31
4      1
5     25
6     22
7     15
8     19
9     11
10    -1
11     7
12    34
13    28
14    19
15    -2
16    34
17     9
18     6
19    14
20     3
21     2
22    33
23    19
Name: Londres, dtype: int64